.modalidade {
  display: flex;
  gap: 1rem;
  color: var(--text-body);
}


fieldset > .modalidade {

  legend {
    padding-bottom: 0.75rem;
  }
  
}

.toggle-group {
  display: flex;
  align-items: center;
  border: var(--input-stroke) solid 1px;
  background-color: var(--input-base);
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  gap: .5rem;
  /* border: red solid 1px; */
  


  .radio-evento {
    display: flex;
    align-items: center;
    gap: 8px;
    /* outline: 1px solid red; */
    padding: 4px 16px; 
    border-radius: 4px;


    svg {
      width: 16px;
    }



    input {
      display: none;

    }


  }

  .radio-evento:has(input:checked) {
    background-color: var(--shape-button);

    svg path {
      fill: var(--brand-light);
    }
  }
  


}

.toggle-option {
  color: var(--text-body);
  border-radius: 6px;
  all: unset;
  

}


.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.colors input[type="radio"] {
  display: none;
}

.colors label {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color);
  cursor: pointer;
  border: 2px solid transparent;
}

.colors input[type="radio"]:checked + label {
  border-color: #33aaff; 
}

.event-theme {
  margin-top: 2rem;
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.3rem, 1fr));
  gap: .5rem;
  margin-top: 1rem;
}

.radio-inner {
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;
  background-color: var(--shape-button);

  display: grid;
  justify-items: center;
  gap: .5rem;
  padding-bottom: .5rem;

  

  & input,
  & input:focus,
  & input:hover {
    all: unset;
  }

  &:hover, &:focus-within {
    border: 2px solid var(--brand-light);
  }
}

